*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.box{
    width: 400px;
    height: 200px;
    background-color: aqua;
    margin: auto;
    margin-top: 100px;
    transition: width 3s,
        transform 1s, height 3s, background-color 3s;
    transition-timing-function: ease;
    transition-delay: 0.1s;
}
.box:hover{
    width: 600px;
    height: 400px;
    background-color: aquamarine;
    transform:rotate(90deg);
    transform: scale(.5);
    transform: translateX(100px);
}