@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@600&family=Inconsolata:wght@500&display=swap");
/* Global styles*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}
.btn-blue{
    background-color: #61dafbd0;
    color: #050505;
    padding: 6px;
    font-size: 16px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-shadow: none;
    border: 2px solid #050505a8;
    border-radius: 8%;
    margin-left: 1rem;
    
}
.btn-blue:hover{
    cursor: pointer;
    background-color: #ffffff;
    color: #050505;
    border: 2px solid #050505;
}



/* Container */
.container {
  width: 800px;
  margin: auto;
  display: flex;
  flex-direction: column;
}
/*    Nav    */
#nav-contain {
  top: 60%;
  position: fixed;
}
#nav-contain ul {
  height: 280px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
#nav-contain .line {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.575);
  height: 100%;
  width: 4px;
  z-index: 0;
}
#nav-contain li {
  z-index: 1;
}
.circle {
  background-color: #61dafb;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
#nav-contain .circle p {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-weight: 600;
  font-size: 1.5rem;
  color: #ffffff;
}
#nav-contain .circle:hover {
  background-color: #050505;
}

/*  Hi logo and my Image  */

.hi-contain {
  font-size: 2rem;
  color: #282c34;
  font-family: "Caveat", cursive;
  padding: 2rem;
}
body {
  background-color: #ffffff;
}
section {
  height: 100vh;
}
section:nth-child(even) {
  background-color: #282c34;
}

#About {
  padding-top: 5rem;
}
.hi-img {
  display: flex;
  flex-direction: row;
  align-items: center;
}

#img-jahid {
  border: 12px solid #61dafb;
  border-radius: 50%;
}
.logo-size {
  width: 30px;
}
.hi-img-logo {
  align-self: flex-end;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.logo-contain {
  width: 200px;
  padding-right: 3rem;
  display: flex;
  justify-content: space-between;
}

/* About-container  */

#About-contain {
  margin-top: 6rem;
  margin-right: 3rem;
  padding: 1.5rem;
  align-self: flex-end;
  max-width: 600px;
  border: 6px solid #ececec;
  border-radius: 5%;
}
#About-contain h1 span {
  color: #61dafb;
}
#About-contain p {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 18px;

  padding: 8px;
  padding-left: 30px;
  font-family: "Inconsolata", monospace;
}

/* Education contain */
#Education-contain {
  margin-top: 6rem;
  margin-right: 3rem;
  padding: 1.5rem;
  align-self: flex-end;
  max-width: 600px;
  border: 6px solid #ececec27;
  border-radius: 5%;
  color: #ffffff;
}
#Education-contain h1 span {
  color: #61dafb;
}
#Education-contain p {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 18px;
  color: #ffffff;
  padding: 8px;
  padding-left: 30px;
  font-family: "Inconsolata", monospace;
}

/*Footer */
#Footer {
  display: flex;
  justify-content: center;
  background-color: #050505e7;
}
#Footer p {
  padding: 10px 0px;
  color: #61dafbbb;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 1rem;
}
/*dgddsgsdag*/
